/* common styles: */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
blockquote {
  margin: 0;
  padding: 0;
}

/* header styles: */

.header-shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  background: url('img/wheat-back.jpg') no-repeat 0 0;
}

.header-menu-shell {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
}

.header-logo {
  width: 140px;
  height: 76px;
  margin-right: 60px;
}

.header-menu {
  width: 600px;
}

.header-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.header-menu-item > a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 0;
}

.header-menu-item > a:hover {
  color: #ffcb78;
  border-bottom: 1px solid #ffffff;
}

.header-menu-item > a:active {
  color: rgba(255, 203, 230, 0.3);
  border-bottom: 1px solid #ffffff;
}

.header-tagline {
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 90px 0 0 0;
  padding: 0;
}

/* section-new-products styles: */

.section-new-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-products-shell {
  width: 800px;
}

.new-products-header {
  text-transform: uppercase;
  font-size: 40px;
  margin: 90px 0;
}

.products {
  display: grid;
  grid-template-columns: 400px 400px;
}

.product {
  position: relative;
  padding: 0 36px;
}

.product:nth-child(1) {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.product:nth-child(2) {
  border-right: 1px solid #e5e5e5;
}

.product-name {
  text-transform: uppercase;
  font-size: 40px;
  margin: 0 0 45px 0;
  padding: 0;
}

.product-values {
  width: 150px;
  position: absolute;
  top: 90px;
  right: 36px;
}

.product-food-value-table {
  grid-template-columns: 75px 75px;
  grid-template-rows: 40px 40px;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.product-food-value-table td {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  font-weight: bold;
}

.product-ingredients {
  color: #404040;
  font-size: 14px;
}

.product-features {
  color: #404040;
  font-size: 16px;
  margin-bottom: 32px;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
}

.product-buttons a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
}

.product-buttons a:nth-child(1) {
  color: #834700;
  border: 2px solid #834700;
}

.product-buttons a:nth-child(1):hover {
  color: #6a3900;
  border: 2px solid #6a3900;
}

.product-buttons a:nth-child(1):active {
  color: rgba(106, 57, 0, 0.3);
  border: 2px solid rgba(106, 57, 0, 0.3);
}

.product-buttons a:nth-child(2) {
  color: #ffffff;
  background: #834700;
  padding-top: 18px;
}

.product-buttons a:nth-child(2):hover {
  color: #ffffff;
  background: #6a3900;
}

.product-buttons a:nth-child(2):active {
  color: rgba(255, 255, 255, 0.3);
  background: #6a3900;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px;
}

/* section-features styles */

.section-features {
  margin: 100px 0 0 0;
  background-color: #ffca79;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 90px 0;
}

.feature-item {
  padding: 0 90px;
}

.feature-item:nth-child(2) {
  border-left: 1px solid rgba(106, 57, 0, 0.3);
  border-right: 1px solid rgba(106, 57, 0, 0.3);
}

.feature-item h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 36px 0;
}

.feature-item p {
  font-size: 20px;
  color: #404040;
}

/* section-history styles: */

.section-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-shell {
  width: 800px;
}

.history-header {
  text-transform: uppercase;
  font-size: 40px;
  margin: 90px 0;
}

.history-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.history-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.history-subtitle {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.history-source {
  font-size: 16px;
  color: #444444;
  font-style: italic;
}

.history-source a {
  color: #834700;
}

.history-source a:hover {
  color: #6d3e13;
}

.history-source a:active {
  color: #f2ede9;
}

.history-text {
  width: 500px;
  font-size: 16px;
  color: #404040;
  line-height: 32px;
}

/* section-press styles: */

.section-press {
  background: rgb(235, 228, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.press-shell {
  width: 800px;
}

.press-shell blockquote {
  position: relative;
}

.press-header {
  text-transform: uppercase;
  font-size: 40px;
  margin: 90px 0;
}

.press-image {
  position: absolute;
  left: -100px;
  top: 8px;
}

.press-shell p {
  font-size: 16px;
  line-height: 32px;
  color: #404040;
  padding-right: 100px;
}

.press-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 36px 0 90px 0;
}

.press-buttons a {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 18px 16px 16px 16px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.press-buttons a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0);
}

.press-buttons a:active {
  background: rgba(139, 134, 126);
  color: rgba(180, 176, 172);
  border: 2px solid rgba(0, 0, 0, 0);
}

.press-buttons i {
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
}

/* section-assortment styles: */

.section-assortment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assortment-shell {
  width: 800px;
}

.assortment-header {
  text-transform: uppercase;
  font-size: 40px;
  margin: 90px 0;
}

.assortment-table {
  border-collapse: collapse;
  margin-bottom: 90px;
}

.assortment-table tr th,
.assortment-table tr td {
  padding: 26px 0;
}

.assortment-table tr {
  border-bottom: 1px solid #ebebeb;
}

.assortment-table th {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  color: #999999;
}

.assortment-table th:nth-last-child(n + 1) {
  text-align: left;
}

.assortment-table th:nth-last-child(1) {
  text-align: right;
}

.assortment-table tr > td:nth-child(1) {
  width: 350px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.assortment-table tr > td:nth-child(2),
.assortment-table tr > td:nth-child(3),
.assortment-table tr > td:nth-child(4) {
  width: 80px;
  text-align: left;
}

.assortment-table tr > td:nth-last-child(1) {
  text-align: right;
}

.assortment-table tr > td:nth-child(4) {
  width: 150px;
}

.assortment-table tr > td:nth-child(1) sup {
  background: black;
  color: white;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px;
  border-radius: 4px;
}

.assortment-table tr > td:nth-child(n + 2) {
  font-size: 16px;
  color: #404040;
}

/* section-order styles: */

.section-order {
  background: #ffca78;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-shell {
  width: 800px;
}

.order-header {
  text-transform: uppercase;
  font-size: 40px;
  margin: 90px 0;
}

.order-tagline {
  color: #404040;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 80px;
}

.order-form div {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
}

.order-form label {
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  margin-bottom: 12px;
}

.order-form input {
  border: none;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}

.order-form input:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.order-form input:focus {
  background-color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  border: none;
}

.order-form .form-phones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin: 0;
}

.form-select select {
  border: none;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  padding: 0 50px;
}

.form-select option {
  background-color: #ffffff;
  color: #000000;
}

.form-textarea textarea {
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  border: none;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 50px;
}

.form-textarea textarea:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.form-textarea textarea:focus {
  background-color: #ffffff;
}

.order-form .form-button {
  color: #ffffff;
  background-color: #834700;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 110px;
}

.order-form .form-button:hover {
  color: #ffffff;
  background: #6a3900;
}

.order-form .form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #6a3900;
}

.form-checkbox {
  position: relative;
}

.form-checkbox label {
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  margin: 14px 0 0 56px;
}

.form-checkbox input {
  width: 36px;
  height: 36px;
  position: absolute;
}

/* footer styles: */

.footer {
  background-color: #000000;
  padding: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 48px;
}

.footer-logo {
  justify-self: center;
  padding: 0;
  margin: 0;
}

.footer-menu {
  grid-column: 2 / 4;
}

.footer-buttons {
  display: flex;
  justify-self: center;
}

.footer-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #1b1b1b;
  border-top: 1px solid #ffcb77;
  border-bottom: 1px solid #ffcb77;
  border-left: 1px solid #ffcb77;
}

.footer-buttons a:nth-last-child(1) {
  border-right: 1px solid #ffcb77;
}

.footer-tagline {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #989898;
}

.footer-figure {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-figure a:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #1b1b1b;
  border: 0.5px solid #ffcb77;
  margin-right: 16px;
}

.footer-figure > a:last-child {
  text-decoration: none;
  font-size: 14px;
  color: #989898;
}
